---
const {data} = Astro.props
---
<style>
    p+div {
        display:flex;
        align-items: start;
        gap:0.6rem;
    }
    img {
        width:90px;
        height:90px;
    }
    h4{
        margin:0;
        font-size:1.13rem;
    }
    section {
    margin-top:2rem;
    }
</style>
<section>
    <a href=`/${data.category}/${data.slug}`>
        <p class="tag">
            {data.category}
         </p>
        <div>
            <h4>{data.title}</h4>
            <img src="https://res.cloudinary.com/djvdendlh/image/upload/v1743370342/gratisography-cool-pineapple-free-stock-photo_o9m0wn.png" alt="">
        </div>
    </a>
</section>
